tutorials/cf-send-iot-to-blockchain/node-red-iot-device-sim.json
[{"id":"8f4ada9.5026228","type":"comment","z":"9909ecc1.371f2","name":"Simulate a physical IoT Device","info":"","x":148,"y":120,"wires":[]},{"id":"f4ef20ca.2f639","type":"inject","z":"9909ecc1.371f2","name":"Send IoT device data to IoTP","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":162,"y":160,"wires":[["15eca7d4.d8bc58"]]},{"id":"15eca7d4.d8bc58","type":"function","z":"9909ecc1.371f2","name":"iot device reading","func":"// retrieve/store sr id in global context\nvar fctxt = this.context.flow\nvar sr_id = fctxt.get('sr_id') || 1004\nsr_id = sr_id + 1\nfctxt.set('sr_id', sr_id)\n\n/* args:\n * shipment id\n * shipment description\n * latitude\n * longitude\n * temperature\n * humidity\n */\nmsg.payload = {\n  \"id\": \"admin-myFabric\",\n  \"fcn\": \"createShipment\",\n  \"args\": [ JSON.stringify(sr_id), \"Shipment of widgets\", \"30.2672\", \"97.7431\", \"103\", \".35\" ]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":415,"y":160,"wires":[["4668de90.b4181","147939eb.e123a6"]]},{"id":"147939eb.e123a6","type":"mqtt out","z":"9909ecc1.371f2","name":"Publish to IoTP","topic":"iot-2/evt/ShipmentStatusIoTDeviceReading/fmt/json","qos":"0","retain":"false","broker":"cdeb403d.9b9f1","x":629,"y":160,"wires":[]},{"id":"4668de90.b4181","type":"debug","z":"9909ecc1.371f2","name":"Debug1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":609,"y":211,"wires":[]},{"id":"dd244c0.79433b8","type":"comment","z":"9909ecc1.371f2","name":"Send data to Watson IoT Platform","info":"Implement a node to send your IoT data to IoT Blockchain.  IoT Blockchain must be already configured for your blockchain.  Use your own route URL that you created during IoT Blockchain configuration.","x":689,"y":120,"wires":[]},{"id":"cdeb403d.9b9f1","type":"mqtt-broker","z":"","name":"MQTT-Publisher3","broker":"<your-org>.messaging.internetofthings.ibmcloud.com","port":"8883","tls":"","clientid":"d:<your-org>:iotsensor-type:iotsensor","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]